html,body {
  height: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}

header {
  position: fixed;
  height: 38px;
  width: 100%;
  -webkit-app-region: drag;
  background-color: #fff;
}

.container {
  display: flex;
  height: 100%;
}
.sidebar {
  width: 300px;
  background: #EEEEEE;
  box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}

#docs {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  padding: 0px 16px;
  font-size: 16px;
  height: 48px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

.sidebar ul li {
  list-style: none;
  padding: 0px 16px;
  font-size: 16px;
  height: 48px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

.sidebar ul li i {
  color: #2962FF;
  margin-right: 10px;
}

/* WebView */
.webview {
  width: 100%;
  /* position: absolute; */
  /* top: 0px; */
  /* right: 0px; */
  /* left: 0px; */
  /* bottom: 0px; */
}

#t-num-fmt-currency,
#t-num-fmt-percent,
#t-strikethrough,
#t-text-rotation,
#t-zoom,
#t-undo,
#t-redo,
#t-print,
#t-zoom-separator{
  display: none;
}


/* Window Controls */

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
}
#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#window-controls #min-button {
  grid-column: 1;
}
#window-controls #max-button, #window-controls #restore-button {
  grid-column: 2;
}
#window-controls #close-button {
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;
}
#window-controls .button {
  user-select: none;
  cursor: default;
  opacity: 0.8;
}
#window-controls .button:hover {
  background: rgba(255,255,255,0.2);
  opacity: 1;
}
#window-controls #close-button:hover {
  background: #E81123;
}
#window-controls #restore-button {
  display: none;
}
